@media screen and (max-width:1180px) {

  body .presentation,
  body .infoSupp {
    display: none;
  }
}

@media screen and (max-width:680px) {

  body #root {
    width: 320px;
  }

  body .agenda,
  body .cemetary,
  body .cemetary__body,
  body .agenda__container,
  body .agenda__container__header {
    width: 100%;
  }
  body .cemetary__body__categories .tdName {
    font-size: 13px;
  }

  body .agenda__container__header__day {
    width: 45px;
  }

  body .agenda__container__header__day--day {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    text-align: center;
  }
  body #formSearchBar input{
    width: 197px;
  }

  body .agenda__container__header__day .date {
    display: none;
  }

  body .modal {
    min-width: auto;
  }
}